#blog-desktop-nav {
  height: 60px;
  background-color: #fff; }
  #blog-desktop-nav .desktop-nav-left {
    line-height: 60px;
    display: inline-flex; }
    #blog-desktop-nav .desktop-nav-left .logo {
      font-family: "Pacifico", cursive;
      font-size: 2em;
      margin-left: 40px; }
      #blog-desktop-nav .desktop-nav-left .logo:hover {
        color: #0ea77b; }
  #blog-desktop-nav .desktop-nav-right {
    float: right;
    list-style-type: none;
    display: inline-flex;
    margin-top: 20px;
    margin-right: 50px; }
    #blog-desktop-nav .desktop-nav-right a {
      margin-right: 20px;
      font-size: 1.1em; }
  #blog-desktop-nav .sign-in-button {
    height: 40px;
    margin-top: -20px;
    background-color: #0ea77b;
    border: 1px solid #0ea77b;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 0 10px;
    margin-left: 20px; }
    #blog-desktop-nav .sign-in-button:focus {
      outline: none; }

.blog-container {
  margin-bottom: 70px; }

.blog-header {
  height: 200px;
  background: #0ea77b; }
  .blog-header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    margin-top: 60px; }
    .blog-header h1 span {
      font-family: "Pacifico", cursive; }

.blog-body .blog-categories {
  margin-top: 60px;
  border-right: 1px solid #d8d8d8;
  text-align: right; }
  .blog-body .blog-categories ul {
    list-style-type: none;
    margin-top: 75px;
    margin-right: 50px;
    font-size: 1.3em; }
    .blog-body .blog-categories ul .main-list {
      margin-top: 50px;
      font-weight: 700; }
    .blog-body .blog-categories ul .sub-list {
      color: #888;
      margin-top: 15px; }
.blog-body .breadcrumb {
  text-align: center;
  background: none;
  margin-top: 60px; }
  .blog-body .breadcrumb .breadcrumb-item {
    font-size: 1.2em; }
    .blog-body .breadcrumb .breadcrumb-item span {
      margin: 0 50px; }
.blog-body .blog-date-row {
  text-align: center;
  margin: 50px 30px; }
  .blog-body .blog-date-row .line-column {
    border-top: 1px solid #0ea77b;
    margin-top: 10px;
    opacity: 0.5; }
  .blog-body .blog-date-row p {
    color: #0ea77b; }
    .blog-body .blog-date-row p a {
      font-weight: bold; }
.blog-body .blog-title-row h1 {
  font-weight: 700; }
.blog-body button {
  height: 40px;
  font-size: 1.3em;
  padding: 0 15px;
  margin: 10px 6px;
  color: #fff;
  border-radius: 4px; }
  .blog-body button i {
    margin-right: 8px; }
.blog-body .facebook-button {
  background: #3b5998;
  border: 1px solid #3b5998; }
.blog-body .twitter-button {
  background: #1da1f2;
  border: 1px solid #1da1f2; }
.blog-body h6 {
  margin-top: 40px;
  font-size: 1.1em; }
.blog-body .card {
  margin-top: 20px;
  margin-bottom: 150px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 1px #969696;
  width: 500px; }
  .blog-body .card img {
    width: 100%;
    height: 345px; }
  .blog-body .card h4 {
    color: #3c3c3c;
    font-weight: 700; }
  .blog-body .card a {
    font-weight: 700; }
  .blog-body .card hr {
    border-width: 6px;
    width: 50%;
    border-color: #0ea77b;
    float: left;
    margin-top: 0; }
  .blog-body .card .card-block {
    padding: 15px; }
  .blog-body .card .progress-bar {
    height: 0px;
    width: 250px;
    float: left;
    border-top: 6px solid #0ea77b;
    position: absolute;
    top: 364px;
    left: 15px; }

@media (min-width: 768px) and (max-width: 1058px) {
  #blog-desktop-nav .desktop-nav-right a {
    margin-right: 10px;
    font-size: 0.9em; }
  #blog-desktop-nav .desktop-nav-right .sign-in-button {
    margin-top: -20px;
    font-size: 0.9em; }
    #blog-desktop-nav .desktop-nav-right .sign-in-button:focus {
      outline: none; } }
@media (max-width: 905px) {
  #blog-desktop-nav .desktop-nav-right {
    display: none; } }
@media (max-width: 768px) {
  #blog-desktop-nav {
    display: none; }

  #mobile-nav {
    display: block;
    height: 60px;
    background-color: #fff;
    padding-top: 10px; }
    #mobile-nav .logo {
      font-family: "Pacifico", cursive;
      font-size: 2em;
      margin-left: 40px; }
      #mobile-nav .logo:hover {
        color: #0ea77b; }
    #mobile-nav i {
      font-size: 1.3em;
      color: #0ea77b;
      margin-left: 20px;
      margin-top: 20px; }
    #mobile-nav form {
      margin-left: 10px;
      margin-top: 1px; }
      #mobile-nav form input {
        height: 30px;
        border: none;
        font-size: 1em;
        font-family: "Open Sans", sans-serif; }
        #mobile-nav form input:focus {
          outline: none; }
    #mobile-nav svg {
      float: right;
      margin-top: 5px;
      margin-left: 70px; } }
@media (max-width: 946px) {
  .blog-categories {
    display: none; }

  .blog-container {
    margin-left: 100px; }

  .blog-date-row {
    display: none; } }
@media (max-width: 835px) {
  .blog-container {
    margin-left: 60px; } }
@media (max-width: 646px) {
  .blog-container {
    margin-left: 20px; } }
@media (max-width: 575px) {
  .blog-container {
    margin-left: 0px; } }
@media (max-width: 551px) {
  .blog-container {
    margin-left: 0px; }

  .blog-body {
    padding-top: 50px; }
    .blog-body .breadcrumb {
      display: none; }
    .blog-body .card {
      margin: 50px auto;
      width: 350px; }
      .blog-body .card img {
        height: 245px; } }
@media (max-width: 399px) {
  #mobile-nav {
    padding-right: 50px; }

  .blog-container {
    margin-left: -10px; }

  .blog-body {
    padding-top: 50px; }
    .blog-body .breadcrumb {
      display: none; }
    .blog-body button {
      height: 35px;
      font-size: 1em;
      padding: 0 10px;
      margin: 10px 3px; }
      .blog-body button i {
        margin-right: 5px; }
    .blog-body .card {
      margin: 50px auto;
      width: 280px; }
      .blog-body .card img {
        height: 200px; } }

/*# sourceMappingURL=blog.css.map */
