.recommended, .trending {
  width: 97%;
  margin: 40px auto;
  background: #fff;
  box-shadow: 1px 1px 1px #969696;
  height: 60px;
  padding-left: 40px;
  border-radius: 4px; }
  .recommended h6, .trending h6 {
    font-size: 1.2em;
    margin-top: 20px;
    color: #3c3c3c;
    font-weight: 700; }
  .recommended .title-row, .trending .title-row {
    margin-bottom: 40px; }
  .recommended .card-row .card, .trending .card-row .card {
    margin: 20px auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 1px 1px #969696;
    max-width: 350px; }
    .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
      background: #0ea77b;
      border: 1px solid #0ea77b;
      border-radius: 4px;
      color: #fff;
      padding: 5px 10px;
      position: absolute;
      top: 30px;
      left: 60px;
      font-weight: 700; }
      .recommended .card-row .card .trending-button i, .recommended .card-row .card .near-me-button i, .trending .card-row .card .trending-button i, .trending .card-row .card .near-me-button i {
        margin-right: 5px; }
    .recommended .card-row .card img, .trending .card-row .card img {
      width: 100%;
      height: 245px; }
    .recommended .card-row .card h4, .trending .card-row .card h4 {
      color: #3c3c3c;
      font-weight: 700; }
    .recommended .card-row .card a, .trending .card-row .card a {
      font-weight: 700; }
    .recommended .card-row .card .card-block, .trending .card-row .card .card-block {
      padding: 15px; }
    .recommended .card-row .card hr, .trending .card-row .card hr {
      border-width: 6px;
      width: 50%;
      border-color: #0ea77b;
      float: left;
      margin-top: 0; }
  .recommended .button-row, .trending .button-row {
    text-align: center; }
    .recommended .button-row button, .trending .button-row button {
      height: 60px;
      width: 300px;
      background: #fff;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      color: #0ea77b;
      box-shadow: 1px 1px 1px #969696;
      margin-top: 60px;
      font-weight: 700;
      font-size: 1.1em; }
      .recommended .button-row button:focus, .trending .button-row button:focus {
        outline: none; }

@media (min-width: 2451px) and (max-width: 2600px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 240px; } }
@media (min-width: 2319px) and (max-width: 2450px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 220px; } }
@media (min-width: 2192px) and (max-width: 2318px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 200px; } }
@media (min-width: 2061px) and (max-width: 2191px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 180px; } }
@media (min-width: 1950px) and (max-width: 2060px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 160px; } }
@media (min-width: 1808px) and (max-width: 1949px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 140px; } }
@media (min-width: 1691px) and (max-width: 1807px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 120px; } }
@media (min-width: 1566px) and (max-width: 1690px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 100px; } }
@media (min-width: 1456px) and (max-width: 1565px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 80px; } }
@media (min-width: 1200px) and (max-width: 1320px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 40px; } }
@media (min-width: 1110px) and (max-width: 1199px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 120px; } }
@media (min-width: 992px) and (max-width: 1109px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 100px; } }
@media (min-width: 768px) and (max-width: 850px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 40px; } }
@media (min-width: 723px) and (max-width: 767px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 190px; } }
@media (min-width: 670px) and (max-width: 722px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 170px; } }
@media (min-width: 622px) and (max-width: 669px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 140px; } }
@media (min-width: 575px) and (max-width: 621px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 120px; } }
@media (min-width: 525px) and (max-width: 574px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 90px; } }
@media (min-width: 481px) and (max-width: 524px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 70px; } }
@media (min-width: 440px) and (max-width: 480px) {
  .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
    position: absolute;
    top: 30px;
    left: 50px; } }
@media (min-width: 375px) and (max-width: 439px) {
  .recommended .card-row .card, .trending .card-row .card {
    margin-left: -30px; }
    .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
      position: absolute;
      top: 30px;
      left: 30px; } }
@media (min-width: 300px) and (max-width: 374px) {
  .recommended .card-row .card, .trending .card-row .card {
    margin-left: -35px; }
    .recommended .card-row .card .trending-button, .recommended .card-row .card .near-me-button, .trending .card-row .card .trending-button, .trending .card-row .card .near-me-button {
      position: absolute;
      top: 30px;
      left: 10px; } }

/*# sourceMappingURL=home.css.map */
