@media (max-width: 768px) {
  #desktop-nav {
    display: none; }

  #mobile-nav {
    display: block;
    height: 60px;
    background-color: #fff;
    padding-top: 10px; }
    #mobile-nav .logo {
      font-family: "Pacifico", cursive;
      font-size: 2em;
      margin-left: 40px; }
      #mobile-nav .logo:hover {
        color: #0ea77b; }
    #mobile-nav i {
      font-size: 1.3em;
      color: #0ea77b;
      margin-left: 20px;
      margin-top: 20px; }
    #mobile-nav form {
      margin-left: 10px;
      margin-top: 1px; }
      #mobile-nav form input {
        height: 30px;
        border: none;
        font-size: 1em;
        font-family: "Open Sans", sans-serif; }
        #mobile-nav form input:focus {
          outline: none; }
    #mobile-nav svg {
      float: right;
      margin-top: 5px;
      margin-left: 70px; } }
@media (min-width: 769px) {
  #mobile-nav {
    display: none; }

  #desktop-nav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #fff; }
    #desktop-nav .desktop-nav-left {
      line-height: 60px;
      display: inline-flex; }
      #desktop-nav .desktop-nav-left .logo {
        font-family: "Pacifico", cursive;
        font-size: 2em;
        margin-left: 40px; }
        #desktop-nav .desktop-nav-left .logo:hover {
          color: #0ea77b; }
      #desktop-nav .desktop-nav-left i {
        font-size: 1.3em;
        color: #0ea77b;
        margin-left: 40px;
        margin-top: 20px; }
      #desktop-nav .desktop-nav-left form {
        margin-left: 10px;
        margin-top: 1px; }
        #desktop-nav .desktop-nav-left form input {
          height: 30px;
          border: none;
          font-size: 1em;
          font-family: "Open Sans", sans-serif; }
          #desktop-nav .desktop-nav-left form input:focus {
            outline: none; }
    #desktop-nav .desktop-nav-right {
      float: right;
      list-style-type: none;
      display: inline-flex;
      margin-top: 20px;
      margin-right: 50px; }
      #desktop-nav .desktop-nav-right a {
        margin-right: 20px;
        font-size: 1.1em; }
    #desktop-nav ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #0ea77b; }
    #desktop-nav :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #0ea77b;
      opacity: 1; }
    #desktop-nav ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #0ea77b;
      opacity: 1; }
    #desktop-nav :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #0ea77b; }
    #desktop-nav ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #0ea77b; } }
.dropdown button {
  border: none;
  background: transparent; }
.dropdown ul li a {
  color: #0ea77b; }

.dropdown-menu {
  z-index: 1000; }

@media (max-width: 420px) {
  .mobile-nav-right {
    padding-right: 50px; }

  .dropdown button {
    border: none;
    background: transparent; }
  .dropdown ul {
    margin-right: -60px; }
    .dropdown ul li a {
      color: #0ea77b; } }

/*# sourceMappingURL=nav.css.map */
