.modal.in {
  display: block; }

.modal {
  text-align: center;
  border-radius: 4px; }
  .modal .modal-content .modal-header .sign-in-logo {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    margin-left: 0px;
    color: #0ea77b; }
  .modal .modal-content .modal-body {
    background-color: #f3fefb;
    padding-top: 50px;
    padding-bottom: 80px; }
    .modal .modal-content .modal-body .facebook-button {
      height: 60px;
      width: 340px;
      background: #3b5998;
      border: 1px solid #3b5998;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 1.2em;
      line-height: 60px; }
      .modal .modal-content .modal-body .facebook-button:focus {
        outline: none; }
      .modal .modal-content .modal-body .facebook-button i {
        font-size: 1.8em;
        margin-right: 30px; }
    .modal .modal-content .modal-body .email-button {
      height: 60px;
      width: 340px;
      background: #0ea77b;
      border: 1px solid #0ea77b;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 1.2em;
      line-height: 60px; }
      .modal .modal-content .modal-body .email-button:focus {
        outline: none; }
      .modal .modal-content .modal-body .email-button i {
        font-size: 1.8em;
        margin-right: 30px; }
  .modal .modal-content .modal-footer {
    height: 150px;
    background: #fff;
    padding-top: 50px; }
    .modal .modal-content .modal-footer p {
      color: #888;
      padding: 0 50px;
      text-align: center; }

#modal-b .sign-in-logo {
  text-align: center;
  margin-left: 0; }
#modal-b .modal-body {
  padding-top: 20px; }
#modal-b h2 {
  margin-bottom: 30px; }
#modal-b input {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 40px; }
#modal-b p {
  text-align: left;
  margin-left: 130px;
  margin-top: 15px; }
#modal-b .name {
  width: 160px; }
#modal-b .first-name {
  margin-right: 5px; }
#modal-b .last-name {
  margin-left: 5px; }
#modal-b .email, #modal-b .password {
  width: 320px; }
#modal-b ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #e6e6e6; }
#modal-b :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e6e6e6; }
#modal-b ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e6e6e6; }
#modal-b :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e6e6e6; }
#modal-b ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e6e6e6; }

@media (min-width: 300px) and (max-width: 401px) {
  .modal .modal-content .modal-header .sign-in-logo {
    margin-left: 0px; }
  .modal .modal-content .modal-footer {
    height: 100px;
    background: #fff;
    padding-top: 20px; }
    .modal .modal-content .modal-footer p {
      font-size: 0.8em; }
  .modal .modal-content .modal-body {
    padding-top: 20px;
    padding-bottom: 40px; }
    .modal .modal-content .modal-body .facebook-button {
      height: 50px;
      width: 250px;
      line-height: 50px; }
      .modal .modal-content .modal-body .facebook-button i {
        font-size: 1.2em;
        margin-right: 10px; }
    .modal .modal-content .modal-body .email-button {
      height: 50px;
      width: 250px;
      line-height: 50px;
      margin-top: -60px; }
      .modal .modal-content .modal-body .email-button i {
        font-size: 1.2em;
        margin-right: 10px; } }
@media (min-width: 300px) and (max-width: 401px) {
  #modal-b .modal-body {
    padding-top: 0px; }
  #modal-b h2 {
    margin-bottom: 15px; }
  #modal-b p {
    margin-left: 30px; }
  #modal-b .name {
    width: 115px; }
  #modal-b .email, #modal-b .password {
    width: 250px; } }

/*# sourceMappingURL=sign-in-modal.css.map */
