@import 'variables';

* {
  font-family: $main-font;
}

.row {
  padding: 0;
  margin: 0;
}

.page-container {
  width: 100%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $accent-color;
  font-family: $main-font;
  transition: 0.2s;
  &:hover {
    color: $link-hover-color;
    transition: 0.2s;
    text-decoration: none;
  }
}

h1, h1, h3, h4, h5, h6, p {
  color: $main-font-color;
}

.title-row {
  margin-top: 100px;
}
