@import 'variables';

#blog-desktop-nav {
  height: 60px;
  background-color: #fff;
  .desktop-nav-left {
    line-height: 60px;
    display: inline-flex;
    .logo {
      font-family: $logo-font;
      font-size: 2em;
      margin-left: 40px;
      &:hover {
        color: $accent-color;
      }
    }
  }
  .desktop-nav-right {
    float: right;
    list-style-type: none;
    display: inline-flex;
    margin-top: 20px;
    margin-right: 50px;
    a {
      margin-right: 20px;
      font-size: 1.1em;
    }
  }
  .sign-in-button {
    height: 40px;
    margin-top: -20px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 0 10px;
    margin-left: 20px;
    &:focus {
      outline: none;
    }
  }
}

.blog-container {
  margin-bottom: 70px;
}

.blog-header {
  height: 200px;
  background: $accent-color;
  h1 {
    color: #fff;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    margin-top: 60px;
    span {
      font-family: $logo-font;
    }
  }
}



// Body of blog page
.blog-body {
  .blog-categories {
    margin-top: 60px;
    border-right: 1px solid #d8d8d8;
    text-align: right;
    ul {
      list-style-type: none;
      margin-top: 75px;
      margin-right: 50px;
      font-size: 1.3em;
      .main-list {
        margin-top: 50px;
        font-weight: 700;
      }
      .sub-list {
        color: $main-font-color;
        margin-top: 15px;
      }
    }
  }
  .breadcrumb {
    text-align: center;
    background: none;
    margin-top: 60px;
    .breadcrumb-item {
      font-size: 1.2em;
      span {
        margin: 0 50px;
      }
    }
  }
  .blog-date-row {
    text-align: center;
    margin: 50px 30px;
    .line-column {
      border-top: 1px solid $accent-color;
      margin-top: 10px;
      opacity: 0.5;
    }
    p {
      color: $accent-color;
      a {
        font-weight: bold;
      }
    }
  }
  .blog-title-row {
    h1 {
      font-weight: 700;
    }
  }
  button {
    height: 40px;
    font-size: 1.3em;
    padding: 0 15px;
    margin: 10px 6px;
    color: #fff;
    border-radius: 4px;
    i {
      margin-right: 8px;
    }
  }
  .facebook-button {
    background: #3b5998;
    border: 1px solid #3b5998;
  }
  .twitter-button {
    background: #1da1f2;
    border: 1px solid #1da1f2;
  }
  h6 {
    margin-top: 40px;
    font-size: 1.1em;
  }
  .card {
    margin-top: 20px;
    margin-bottom: 150px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 1px 1px #969696;
    width: 500px;
    img {
      width: 100%;
      height: 345px;
    }
    h4 {
      color: darken($main-font-color, 30%);
      font-weight: 700;
    }
    a {
      font-weight: 700;
    }
    hr {
      border-width: 6px;
      width: 50%;
      border-color: $accent-color;
      float: left;
      margin-top: 0;
    }
    .card-block {
      padding: 15px;
    }
    .progress-bar {
      height: 0px;
      width: 250px;
      float: left;
      border-top: 6px solid $accent-color;
      position: absolute;
      top: 364px;
      left: 15px;
    }
  }
}

// Media queries

// Changes desktop nav stying
@media (min-width: 768px) and (max-width: 1058px) {
  #blog-desktop-nav {
    .desktop-nav-right {
      a {
        margin-right: 10px;
        font-size: 0.9em;
      }
      .sign-in-button {
        margin-top: -20px;
        font-size: 0.9em;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// Mobile nav
@media (max-width: 905px) {
  #blog-desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: block;
    height: 60px;
    background-color: #fff;
    // overflow: hidden;
    padding-top: 10px;
    .logo {
      font-family: $logo-font;
      font-size: 2em;
      margin-left: 40px;
      &:hover {
        color: $accent-color;
      }
    }
    i {
      font-size: 1.3em;
      color: $accent-color;
      margin-left: 20px;
      margin-top: 20px;
    }
    form {
      margin-left: 10px;
      margin-top: 1px;
      input {
        height: 30px;
        border: none;
        font-size: 1em;
        font-family: $main-font;
        &:focus {
          outline: none;
        }
      }
    }
    svg {
      float: right;
      margin-top: 5px;
      margin-left: 70px;
    }
  }
}

// Changes page styling for smaller screens

@media (max-width: 946px) {
  .blog-categories {
    display: none;
  }
  .blog-container {
    margin-left: 100px;
  }
  .blog-date-row {
    display: none;
  }
}

@media (max-width: 835px) {
  .blog-container {
    margin-left: 60px;
  }
}

@media (max-width: 646px) {
  .blog-container {
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .blog-container {
    margin-left: 0px;
  }
}

@media (max-width: 551px) {
  .blog-container {
    margin-left: 0px;
  }
  .blog-body {
    padding-top: 50px;
    .breadcrumb {
      display: none;
    }
    .card {
      margin: 50px auto;
      width: 350px;
      img {
        height: 245px;
      }
    }
  }
}

@media (max-width: 399px) {
  #mobile-nav {
    padding-right: 50px;
  }
  .blog-container {
    margin-left: 0px;
  }
  .blog-body {
    padding-top: 50px;
    .breadcrumb {
      display: none;
    }
    button {
      height: 35px;
      font-size: 1em;
      padding: 0 10px;
      margin: 10px 3px;
      i {
        margin-right: 5px;
      }
    }
    .card {
      margin: 50px auto;
      width: 300px;
      img {
        height: 225px;
      }
    }
  }
}
