@import 'variables';

.hero {
  width: 97%;
  margin: 0 auto;
  height: 80vh;
  overflow: hidden;
  background:
      -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)),
      url('../img/fundio-1.jpg');
  background:
      -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)),
      url('../img/fundio-1.jpg');
  background:
      linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)),
      url('../img/fundio-1.jpg');
  background-size: cover;
  text-align: center;
  button, input {
    height: 70px;
    width: 300px;
    margin: 5px;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  h2 {
    float: left;
    text-align: left;
    font-weight: 700;
    font-size: 4em;
    color: $accent-color;
    margin-top: 28vh;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  button {
    float: left;
    background: $accent-color;
    border: 1px solid $accent-color;
    color: #fff;
    font-family: $main-font;
    font-size: 1.5em;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  input {
    float: left;
    border: 2px solid $main-font-color;
    background: transparent;
    padding-left: 15px;
    font-size: 1.5em;
    color: #888;
    margin-left: 30px;
  }
}
.sub-hero {
  overflow-x: scroll;
  width: 97%;
  margin: 0 auto;
  text-align: center;
  font-family: $main-font;
  box-shadow: 1px 1px 1px #969696;
  border-radius: 4px;
  color: #888;
  padding-top: 15px;
  background-color: #fff;
  i {
    font-size: 2em;
  }
}


// Media queries
@media (min-width: 300px) and (max-width: 939px) {
  .hero {
    h2 {
      font-size: 3em;
      margin-top: 20vh;
    }
  }
}

@media (min-width: 375px) and (max-width: 929px) {
  .sub-hero {
    h6 {
      font-size: 0.7em;
    }
  }
}

@media (min-width: 300px) and (max-width: 374px) {
  .sub-hero {
    h6 {
      font-size: 0.6em;
    }
  }
}
