@import 'variables';

.carousel-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#myCarousel {
  width: 100%;
  margin: 0 auto;
  .carousel {
    width: 97%;
    margin: 0 auto;
  }
  .slide {
    width: 100%;
    margin: 0 auto;
  }
  .item {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    opacity: 0.6;
  }
  .fa-chevron-left {
    position: absolute;
    top: 35%;
    left: 20px;
  }
  .fa-chevron-right {
    position: absolute;
    top: 35%;
    right: 20px;
  }
  .container {
    .carousel-caption {
      width: 50%;
      position: absolute;
      top: 100px;
      left: 40px;
      h2 {
        float: left;
        text-align: left;
        font-weight: 700;
        font-size: 4em;
        color: $accent-color;
        margin-left: 30px;
      }
      button, input {
        height: 70px;
        width: 300px;
        margin: 5px;
        border-radius: 4px;
        &:focus {
          outline: none;
        }
      }
      button {
        float: left;
        background: $accent-color;
        border: 1px solid $accent-color;
        color: #fff;
        font-family: $main-font;
        font-size: 1.5em;
        margin-left: 30px;
        margin-bottom: 20px;
      }
      input {
        float: left;
        border: 2px solid $main-font-color;
        background: transparent;
        padding-left: 15px;
        font-size: 1.5em;
        color: #888;
        margin-left: 30px;
        margin-bottom: 250px;
      }
    }
  }
}


.sub-hero {
  overflow-x: scroll;
  width: 96%;
  margin: 0 auto;
  text-align: center;
  font-family: $main-font;
  box-shadow: 1px 1px 1px #969696;
  border-radius: 4px;
  color: #888;
  padding-top: 15px;
  background-color: #fff;
  i {
    font-size: 2em;
  }
}

.mobile-hero {
  display: none;
}


// Mobile hero
@media (max-width: 766px) {
  .mobile-hero {
    display: block;
    width: 96%;
    margin: 0 auto;
    background-image: url('../img/fundio-1.jpg');
    background-size: cover;
    height: 80vh;
    h2 {
      float: left;
      text-align: left;
      font-weight: 700;
      font-size: 4em;
      color: $accent-color;
      margin-left: 30px;
      margin-top: 100px;
    }
    button, input {
      height: 60px;
      width: 340px;
      margin: 5px;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }
    button {
      float: left;
      background: $accent-color;
      border: 1px solid $accent-color;
      color: #fff;
      font-family: $main-font;
      font-size: 1.5em;
      margin-left: 30px;
      margin-bottom: 20px;
    }
    input {
      float: left;
      border: 2px solid $main-font-color;
      background: transparent;
      padding-left: 15px;
      font-size: 1.5em;
      color: #888;
      margin-left: 30px;
    }
  }
  .carousel-container {
    display: none;
  }
}


@media (max-width: 455px) {
  .mobile-hero {
    display: block;
    width: 96%;
    margin: 0 auto;
    background-image: url('../img/fundio-1.jpg');
    background-size: cover;
    height: 80vh;
    h2 {
      float: left;
      text-align: left;
      font-weight: 700;
      font-size: 2.8em;
      color: $accent-color;
      margin-left: 15px;
      margin-top: 90px;
    }
    button, input {
      height: 60px;
      width: 250px;
      margin: 5px;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }
    button {
      float: left;
      background: $accent-color;
      border: 1px solid $accent-color;
      color: #fff;
      font-family: $main-font;
      font-size: 1.5em;
      margin-left: 30px;
      margin-bottom: 20px;
    }
    input {
      float: left;
      border: 2px solid $main-font-color;
      background: transparent;
      padding-left: 15px;
      font-size: 1.5em;
      color: #888;
      margin-left: 30px;
    }
  }
  .carousel-container {
    display: none;
  }
}



// Media queries
// Largest to smallest screens

// Changes width/position of caption container
@media (min-width: 2490px) and (max-width: 3000px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 20%;
        position: absolute;
        top: 160px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 1971px) and (max-width: 2490px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 25%;
        position: absolute;
        top: 100px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 1545px) and (max-width: 1971px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 35%;
        position: absolute;
        top: 90px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 1397px) and (max-width: 1544px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 45%;
        position: absolute;
        top: 90px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 836px) and (max-width: 920px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 75%;
        position: absolute;
        top: 90px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 756px) and (max-width: 849px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 75%;
        position: absolute;
        top: 80px;
        left: 40px;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 849px) {
  #myCarousel {
    .container {
      .carousel-caption {
        width: 75%;
        position: absolute;
        top: 80px;
        left: 40px;
      }
    }
  }
}



// Changes positions of arrows
@media (min-width: 2226px) and (max-width: 3000px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 15%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 15%;
    }
  }
}

@media (min-width: 1793px) and (max-width: 2225px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 20%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 20%;
    }
  }
}

@media (min-width: 1494px) and (max-width: 1792px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 25%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 25%;
    }
  }
}

@media (min-width: 1248px) and (max-width: 1494px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 30%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 30%;
    }
  }
}

@media (min-width: 1099px) and (max-width: 1247px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 35%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 35%;
    }
  }
}

@media (min-width: 979px) and (max-width: 1098px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 40%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 40%;
    }
  }
}

@media (min-width: 767px) and (max-width: 978px) {
  #myCarousel {
    .fa-chevron-left {
      position: absolute;
      top: 45%;
    }
    .fa-chevron-right {
      position: absolute;
      top: 45%;
    }
  }
}

// Changes font sizes of sub hero section
@media (min-width: 375px) and (max-width: 929px) {
  .sub-hero {
    h6 {
      font-size: 0.7em;
    }
  }
}

@media (min-width: 300px) and (max-width: 374px) {
  .sub-hero {
    h6 {
      font-size: 0.6em;
    }
  }
}
