
// Colors
$accent-color: #0ea77b;
$link-hover-color: darken($accent-color, 20%);
$background-color: lighten($accent-color, 62%);

// Fonts
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Pacifico', cursive;
$main-font-color: #888;
